.card {
  background-color: white;
  width: 20rem;
  overflow: hidden;
  margin: 2rem;
  box-shadow: 5px 5px 5px 5px white;
  @include border-radius(0.5rem);

  img {
    height: 15rem;
    background-size: cover;
    background-position: center;
  }
  .card-content {
    padding: $spacing;
  }
  .card_title {
    margin: 0;
    color: black;
  }
  .card_description {
    margin: 0;
    color: $dark_grey;
  }
  &_dark {
    background-color: $color;
    .card_title {
      color: white;
    }
  }
}
