$color: #a7a7a7;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  body {
    font-family: "Roboto", sans-serif;
    background-color: #fb745c;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
box-shadow: 2px 2px 5px solid #000;
  background-color: #fff;
  border-radius: 20px;
  background:rgba(255, 255, 255,0.3);
  .img {
    
    background-image: url("./img.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    flex: 50%;
    width: 12rem;
    height: 13rem;
    padding: 13rem;
  }
  .card {
    flex: 50%;
    //padding:15rem;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    
    .elements {
      display: flex;
      flex-direction: column;
      padding: 2rem;
    }

    .link {
      font-size: 13px;
      color: $color;
      a {
        text-decoration: none;

        color: #fb745c;
      }
    }

    .sub-btn {
      display: flex;
      flex-direction: row;

      button {
        border-color: $color;
        background-color: #fff;
        padding: 0.5rem;
        border-radius: 5px;
        margin-top: 1rem;
        cursor: pointer;
      }
      .fb-btn {
        background-color: #527bcb;
        color: #fff;
        margin-left: 1rem;
      }
    }

    .hr {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      hr {
        display: block;
        width: 7rem;
        height: 1px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: $color;
      }
      label {
        font-size: 13px;
        color: $color;
      }
    }

    .input {
      display: flex;
      flex-direction: column;
    
      
      .email {
        margin-top: 1rem;
        font-size: 13px;
      }
      .pwd {
        margin-top: 1rem;
        font-size: 13px;
      }
    //   #icon{
    //     position: absolute;
    //     margin-left: 20px;
    //     margin-top:12px;
    //   }
      input {
        width: 20rem;
        padding: 0.3rem;
        margin-top: 0.5rem;
        border: 1px solid #a7a7a7;
      }
      input:focus{
        
        box-shadow:1px 1px 5px #fb745c;
      }
    }

    .register-btn {
      margin-top: 1rem;
      padding: 0.5rem;
      background-color: #ff725e;
      color: #fff;
      border: none;
      box-shadow: 0 0 2px black;
      border-radius: 0.3rem;
    }
  }
}
